[Appearance]
AntiAliasFonts=true
BoldIntense=false
ColorScheme=DarkPastels
Font=Sauce Code Powerline Plus Nerd File Types Mono Plus Pomicons,9,-1,0,50,0,0,0,0,0

[Encoding Options]
DefaultEncoding=UTF-8

[General]
Command=/usr/bin/tmux -u2 attach
Name=konsole
Parent=FALLBACK/
TerminalColumns=80
TerminalRows=40

[Interaction Options]
CtrlRequiredForDrag=true
MiddleClickPasteMode=1
MouseWheelZoomEnabled=false

[Scrolling]
HistoryMode=0
ScrollBarPosition=2

[Terminal Features]
FlowControlEnabled=false
