#!/bin/bash

cat <<EOF
{
  "antigen_plugins": [
    {%for plugin in a_skybet_antigen_plugins%}
    "{{plugin}}"{%if not loop.last%}, {%endif%}
    {%endfor%}
  ],
  "a_git_author": "{{a_skybet_git_author}}",
  "a_git_email": "{{a_skybet_git_email}}"
}
EOF
