#!/bin/bash

cat <<EOF
{
  "antigen_plugins": {{a_skybet_antigen_plugins|to_json}},
  "a_git_author": "{{a_skybet_git_author}}",
  "a_git_email": "{{a_skybet_git_email}}",
  "a_zsh_cdpaths": {{a_skybet_zsh_cdpaths|to_json}},
  "a_ssh_config": {{a_skybet_ssh_config|to_json}}
}
EOF
