export EASY_RSA="`pwd`"
export OPENSSL="openssl"
export PKCS11TOOL="pkcs11-tool"
export GREP="grep"
export KEY_CONFIG=`$EASY_RSA/whichopensslcnf $EASY_RSA`
export KEY_DIR="$EASY_RSA/keys"
export PKCS11_MODULE_PATH="dummy"
export PKCS11_PIN="dummy"
export KEY_SIZE=4096
export CA_EXPIRE=3650
export KEY_EXPIRE=3650
export KEY_COUNTRY="{{ a_ca_attr_country | default('GB') }}"
export KEY_PROVINCE="{{ a_ca_attr_provice | default('West Yorkshire') }}"
export KEY_CITY="{{ a_ca_attr_city | default('Halifax') }}"
export KEY_ORG="{{ a_ca_attr_org | default('peteches.co.uk') }}"
export KEY_EMAIL="{{ a_ca_attr_email | default('ssladmin@peteches.co.uk') }}"
export KEY_OU="{{ a_ca_attr_ou | default('peteches ssl') }}"
export KEY_NAME="{{ a_ca_attr_name | default('peteches') }}"
