[Unit]
Description=tmux default session (detached)
Documentation=man:tmux(1)

[Service]
Type=simple
RemainAfterExit=True
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
Environment=DISPLAY=:0
ExecStart=/usr/bin/tmux -2u new-session -d -s %H
ExecStop=/usr/bin/tmux kill-server
KillMode=none

[Install]
WantedBy=default.target
