{% for pref, val in a_firefox_user_prefs.items() %}
{% if val == True%}
user_pref("{{pref}}", "true");
{% elif val == False%}
user_pref("{{pref}}", "false");
{% elif val is number %}
user_pref("{{pref}}", {{val}}); # test
{%else%}
user_pref("{{pref}}", "{{val}}");
{%endif%}
{%endfor%}

