[Exec]
Boot={{item.exec.boot|default('on')}}
Parameters={{item.exec.parameters|default('-')}}
Environment={{item.exec.environment}}
User={{item.exec.user|default('root')}}
Capability={{item.exec.capability|default('all')}}
DropCapability={{item.exec.dropcapability}}
Personality={{item.exec.personality|default(ansible_architecture)}}
MachineID={{item.exec.machineid}}

[Files]
ReadOnly={{item.files.readonly|default('off')}}
Volatile={{item.files.volatile|default('no')}}
Bind={{item.files.bind}}
BindReadOnly={{item.files.bindreadonly}}
TemporaryFileSystem={{item.files.temporaryfilesystem}}

[Network]
Private={{item.network.private|default('off')}}
VirtualEthernet={{item.network.virtualethernet|default('off')}}
Interface={{item.network.interface}}
MACVLAN={{item.network.macvlan}}
IPVLAN={{item.network.ipvlan}}
Bridge={{item.network.bridge}}
Port={{item.network.port}}
